/* Reset Default Styling */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
/* Import Fonts */
@import url('https://fonts.googleapis.com/css?family=Lora|Noto+Sans+TC|Open+Sans&display=swap');
/* 
font-family: 'Lora', serif;
font-family: 'Noto Sans TC', sans-serif;
font-family: 'Open Sans', sans-serif; 
*/

/* Default 20pixels to 1ine-height */
html {
  font: 20px/1 'Open Sans';
  min-height: 100vh;
  --navbar-background-color: rgba(13, 3, 102, 0.75);
  --navbar-text-color: white;
}

.wrapper {
  display: grid;
  grid-template-areas: "Header Header Header"
                       "Nav Nav Nav"
                       "Main Main Main"
                       "Footer Footer Footer";
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 3rem 2rem 1fr 2rem;
  gap: 2rem 2rem;
  width: 80%;
  margin: 0 auto;
  max-width: 30rem;

}
.Footer {
  grid-area: Footer;
  color: var(--navbar-text-color);
  background-color: var(--navbar-background-color);
  text-align: center;
  padding-top: .5rem;
}

.Header {
  grid-area: Header;
  display: flexbox;
  align-content: center;
  justify-content: center;
}

.Header-Title {
  text-align: center;
  margin-top: 1rem;
}

.Header-Title__title {
  text-align: center;
}

.Header-Title_subtitle {
  text-align: center;
  padding: 1rem;
  margin: 1rem;
}

.Header-Title__subtitle {
  text-align: center;
}

.Main {
  grid-area: Main;
}

.Main__Recently-Reviewed-Table {
  width: 100%;
}

.Main__Recently-Reviewed-Table thead{
  padding: .5rem;
  margin: .5rem;
}

.Main__Recently-Reviewed-Table tr,td{
  padding: .5rem 1rem;
}

/* .Main__Recently-Reviewed-Table tr:first-child {
  text-transform: capitalize;
} */

.Nav {
  grid-area: Nav;
  background-color: var(--navbar-background-color);
}

.Nav__menu {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-content: center;
  padding-top: .5rem;

}

.Nav__menu-item {
  color: var(--navbar-text-color);
}