<div class="donate-form-wrapper">
    <form class="donate-form__form" action="/donate" method="POST">
        <label> Please fill out your establishment's details : </label>
        <label> Name : 
            <input type="text" name="location"></input>
        </label>
        <button id="submitButton">¯\_(ツ)_/¯ </button>
    </form> 
</div>