<main class="Main">
    <p> Capital City Reviews is a directory service and crowd sourcing review forum. Here are the newest reviews that have been written:</p>
    <table  class = "Main__Recently-Reviewed-Table">
        <thead>
            <th>Name</th>
            <th>Description</th>
            <th>Category</th>
            <th>Tags</th>
        </thead>
        <tr>
            <td><a href="./review_solo.html" >Solo</a></td>
            <td>Just a shot of espresso</td>
            <td><a href="./category_espresso.html" >Espresso</a></td>
            <td><a href="./tag_water.html" >#Water</a></td>
        </tr>
        <tr>
            <td><a href="./review_americano.html" >Americano</a></td>
            <td>Espresso and water</td>
            <td><a href="./category_espresso.html" >Espresso</a></td>
            <td><a href="./tag_bitter.html" >#Bitter</a>, <a href="./tag_water.html" >#Water</a></td>
        </tr>
        <tr>
            <td><a href="./review_cafe_latte.html" >Cafe Latte</a></td>
            <td>Espresso and Milk Foam</td>
            <td><a href="./category_espresso.html" >Espresso</a></td>
            <td><a href="./tag_milk.html" ><a href="./tag_foam.html" >#Foam</a></a>, <a href="./tag_milk.html" ><a href="./tag_flavor.html" >#Flavor</a></td>
        </tr>
        <tr>
            <td>Cold Brew</td>
            <td>Slow drip-brewed coffee</td>
            <td><a href="./category_coldbrew.html" >Coldbrew</a></td>
            <td><a href="./tag_flavored.html" >#Flavored</a>, <a href="./tag_bitter.html" >#Bitter</a>, <a href="./tag_water.html">#Water</a></td>
            </tr>
            <tr>
                <td>Regular</td>
                <td>Light Coffee, choice of cream and sugar</td>
                <td><a href="./category_coffee.html">Coffee</a></td>
                <td><a href="./tag_light.html" >#Light</a>, <a href="./tag_dark.html" >#Dark</a>, <a href="./tag_flavored.html" >#Flavored</a></td>
            </tr>
            <tr>
                <td>Decaf</td>
                <td>Light Coffee, choice of cream and sugar</td>
                <td><a href="./category_coffee.html">Coffee</a></td>
                <td><a href="./tag_decaffinated.html" >#Decaffinated</a>, <a href="./tag_light.html" >#Light</a>, <a href="./tag_dark.html" >#Dark</a>, <a href="./tag_flavored.html" >#Flavored</a></td>
            </tr>
            <tr>
            <td> Tea </td>
            <td> Herbs and H2O </td>
            <td><a href="./category_tea.html" >Tea</a></td>
            <td> <a href="./tag_bitter.html" >#Bitter</a>, <a href="./tag_notcoffee.html" >#NotCoffee</a> </td>
        </tr>
    </table>
</main>
