<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Page</title>
</head>
<body>
    <div class = "wrapper">
        <header>
            <p class = "Header-Title">Header: Navigation</p> <br>
            <p class = "Header-Title__Navigation-Item"><a href = ""></a></p>
        </header>
        <main>
            <p> Welcome to THE MAAAAAIN PAAAAGE!</p>
            <p>Find movie reviews here!</p>
            <p>Here are the newest reviews that have been written:</p>
            <ul class = "Main__Recently-Reviewed-List">
                <li>Dinosaur Egg (Actual)</li>
                <li>Ducks</li>
                <li>Stalagtites</li>
                <li>Table</li>
                <li>Exotic Diseases</li>
                <li>Donald Trump</li>
                <li>Gourmet Fast Food</li>
                <li>Illegitimate Sentences</li>
                <li>Bogus Review Sites</li>
                <li>Zit popping videos</li>
                <li>Women's Fall Fashion</li>
                <li>Pumpkin Spiced Latte's</li>
            </ul>
        </main>
        <footer>

        </footer>
    </div>
</body>
</html>