<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../stylesheets/style.css">
    <title>Home Page</title>
</head>
<body>
    <div class = "wrapper">
        <header class="Header">
            <p class="Header-Title">
                <h1 class = "Header-Title__title">Capital City Reviews</h1>
                <h4 class = "Header-Title__subtitle">Currently reviewing coffee!</h4>
            </p>
        </header>

        <nav class="Nav">
            <div class="Nav__menu">
                <p class="Nav__menu-item">About Us</p>
                <p class="Nav__menu-item">More Coffee</p>
                <p class="Nav__menu-item">Our Parners</p>
                <p class="Nav__menu-item">Donate</p>
            </div>
        </nav>

        <main class="Main">
            <p> Capital City Reviews is a directory service and crowd sourcing review forum. Here are the newest reviews that have been written:</p>
            <table  class = "Main__Recently-Reviewed-Table">
                <thead>Reviews
                    <th>Name</th>
                    <th>Description</th>
                    <th>Category</th>
                    <th>Tags</th>
                </thead>
                <tr>
                    <td><a href="./americano.html" target="_blank">Americano</a></td>
                    <td>Espresso and water</td>
                    <td>Espresso</td>
                    <td>#Bitter, #Water</td>
                </tr>
                <tr>
                    <td><a href="./latte.html" target="_blank">Cafe Latte</a></td>
                    <td>Espresso and Milk Foam</td>
                    <td>Espresso</td>
                    <td>#Milk, #Foam, #Flavor</td>
                </tr>
                <tr>
                    <td>Cold Brew</td>
                    <td>Slow drip-brewed coffee</td>
                    <td>Coldbrew</td>
                    <td>#Flavored, #Bitter</td>
                </tr>
                <tr>
                    <td>Regular</td>
                    <td>Light Coffee, choice of cream and sugar</td>
                    <td>Coffee</td>
                    <td>#Light, #Dark, #Flavored</td>
                </tr>
                <tr>
                    <td>Decaf</td>
                    <td>Light Coffee, choice of cream and sugar</td>
                    <td>Coffee</td>
                    <td>#Decaffinated, #Light, #Dark, #Flavored</td>
                </tr>
                <tr>
                    <td> Tea </td>
                    <td> Herbs and H2O </td>
                    <td> Tea </td>
                    <td> #Bitter, #NotCoffee </td>
                </tr>

            </table>
        </main>
        <footer class="Footer">
            Capital City Industries LLC Corp &copy;
        </footer>
    </div>
</body>
</html>