<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../stylesheets/style.css">
    <title>Home Page</title>
</head>
<body>
    <div class = "wrapper">
        <header class="Header">
            <p class="Header-Title">
                <h1 class = "Header-Title__title">Capital City Reviews</h1>
                <h4 class = "Header-Title__subtitle">Currently reviewing coffee!</h4>
            </p>
        </header>

        <nav class="Nav">
            <div class="Nav__menu">
                <p class="Nav__menu-item">Item1</p>
                <p class="Nav__menu-item">Item2</p>
                <p class="Nav__menu-item">Item3</p>
                <p class="Nav__menu-item">Item4</p>
            </div>
        </nav>

        <main class="main">
            <p> Welcome to THE MAAAAAIN PAAAAGE!</p>
            <p>Find coffee reviews here!</p>
            <p>Here are the newest reviews that have been written:</p>
            <table  class = "Main__Recently-Reviewed-Table">
                <thead>Reviews
                    <th>Name</th>
                    <th>Description</th>
                    <th>Category</th>
                    <th>Description</th>
                </thead>
                <tr>
                    <td><a href="./americano.html" target="_blank">Americano</a></td>
                    <td>Espresso and water</td>
                    <td>Espresso</td>
                </tr>
                <tr>
                    <td><a href="./latte.html" target="_blank">Cafe Latte</a></td>
                    <td>Espresso and Milk Foam</td>
                    <td>Espresso</td>
                </tr>
                <tr>
                    <td>Flavored Latte</td>
                    <td>Espresso, Milk Foam, and choice of flavored syrup</td>
                    <td>Espresso</td>
                    <td>Sweet</td>
                </tr>
                <tr>
                    <td>Cold Brew</td>
                    <td>Slow drip-brewed coffee</td>
                    <td>Coldbrew</td>
                </tr>
                <tr>
                    <td>Light Roast</td>
                    <td>Light Coffee, choice of cream and sugar</td>
                    <td>Regular</td>
                    <td>Tags</td>
                </tr>
            </table>
        </main>
        <footer class="Footer">
            Capital City Industries LLC Corp &copy;
        </footer>
    </div>
</body>
</html>