

<div class="review-items-wrapper">
    {{#each reviews}}
    <div class="review-card-wrapper">
        <h3 class="review-card__title">{{reviewItem}}</h3>
        <img class="review-card__image" href="{{imgUrl}}"/>
        <h6 class="review-card__category">{{category}}</h6>
    </div> 
    {{/each}}
</div>

<form action="/" method="POST">
    <label>Review Coffee: <input type="text" name="reviewItem"></label>
    <label> Review Body: <input type="text" name="reviewBody"> </label>
    <label> Category: 
        <select name="category">  
            <option value="Cold Brew">Cold Brew</option>
            <option value="Decaf">Decaf</option> 
            <option value="Regular">Regular (Caffeine)</option> 
            <option value="Tea">Tea</option> 
        </select><br>
    </label>
    <label> Author: <input type="text" name="author"> </label>
    
    <button>Review all the kaffee aqui　皆さん　¯\_(ツ)_/¯ </button>
</form> 