<div class="review-items-wrapper">
    {{#each reviews}}
        <div class="review-card-wrapper">
            <a href = "/review/{{id}}">
            <h3 class="review-card__title">{{reviewItem}}</h3>
            <img class="review-card__image" href="{{imgUrl}}"/>
            <h6 class="review-card__category">{{category}}</h6>
            </a>
        </div> 
    {{/each}}
</div>
<div class="review-form-wrapper">
    <form class="review-form__form" action="/" method="POST">
        <label>Review Coffee: <select name="reviewItem">  
                <option value="Americano">Americano</option>
                <option value="Solo (Espresso)">Solo (Espresso)</option> 
                <option value="Cafe Latte">Cafe Latte</option> 
                <option value="Cold Brew">Cold Brew</option> 
                <option value="Cafe Latte">Regular (Caffeine)</option> 
                <option value="Decaf">Decaf</option> 
                <option value="Tea">Tea</option> 
            </select><br>
        </label>
        <label>   Review Body:   <input type="text" name="reviewBody">    </label> 
        <label> Category: 
            <select name="category">  
                <option value="Cold Brew">Cold Brew</option>
                <option value="Decaf">Decaf</option> 
                <option value="Regular">Regular (Caffeine)</option> 
                <option value="Tea">Tea</option> 
            </select><br>
        </label>
        <label> 
            Author: 
            <input type="text" name="author"></input>
        </label>
        <label> 
            Tags: 
            <input type="checkbox" name="tags" value="Bitter">This is pungent taste</input>
        </label>
        <button id="submitButton">¯\_(ツ)_/¯ </button>
    </form> 
</div>