<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>French Press</title>
    <link rel="stylesheet" href="../public-css/review-style.css">
</head>
    <body>
        <div class = "wrapper">
            <section class="coffee-card">
               
            <div class="coffee-card__element">
                  <figure class = "coffee-card__photo" >
                        <img src= "../public-css/img/coffee-983955_960_720.jpg?raw=true" alt="picture of cafe latte">     
                        <figcaption>
                            <! french press.>
                        </figcaption>
                    </figure>

                  <h1 class = "coffee-card__style">French Press</h1>
            </div>

            <div class="coffee-card__element">
                <p class = "coffee-card__review">French Press is made using a coarse ground bean with hot water poured over. It is then strained using a vertical screen, and poured off the top of the press.</p>
            </div>

            <div class="coffee-card__element">
               
                <figure class = "coffee-card__author-photo" >
                    <img src= "../public-css/img/George_Clooney_2016.jpg?raw=true"  alt="picture of author">    
                        <figcaption>
                            <! author>
                        </figcaption>
                    </figure>
                    <h2 class = "coffee-card__author"> George Clooney </h2> 
            </div>

            <div class="coffee-card__element">
                <ul class = "coffee-card__tags">
                <li class="coffee-card__bitter"> <h3><a href = "tag_bitter.html">Bitter</a></h3></li>
                <li class="coffee-card__flavored"> <h3><a href = "tag_flavored.html">Strong</a></h3></li>
                </ul>
            </section>
            </div>
        </div>
        
    </body>
</html>