<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../stylesheets/style.css">
    <title>Americano Review</title>
</head>
<body>
    <div class = "wrapper">
        <main>
            <header>
                <h1>Americano - A brief review of my favorite coffee drink</h1>
            </header>
            <body>
                <h2>Espresso and Water, equal parts</h2>
                <p>Elegance combined with simplicity. This beverage is meant to be sweetened heavily, if you are
                    European. However, as an American, I enjoy the bitterness this small drink provides. Most locations
                    I frequent know how I take my coffee (small Americano, quad, and top it off with water). As I travelled
                    some European cities, I had to learn how <i>they</i> take their coffee. Similar to mine, but with a
                    lot more sugar!
                </p>
            </body>
        </main>
    </div>
</body>
</html>