<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Cafe Latte</title>
</head>
    <body>
        <div class = "wrapper">
            <article class="coffee-card">
                <img src="https://pixabay.com/photos/coffee-cafe-mug-decorative-drink-983955/" alt="picture of cafe latte"> 

            <h1 class = "coffee-card__style">"Caffe Latte"</h1>

            <p class = "coffee-card__review">"While it is popular, cafe latte is foul. Anyone who likes coffee would not want milk in it."</p>

            <h2 class = "coffee-card__author"> "G. Eric Plum" </h2>
                <img src="https://www.google.com/url?sa=i&source=images&cd=&cad=rja&uact=8&ved=2ahUKEwit8J6nyPvkAhW2JDQIHaOZCbQQjRx6BAgBEAQ&url=%2Furl%3Fsa%3Di%26source%3Dimages%26cd%3D%26ved%3D%26url%3Dhttps%253A%252F%252Fen.wikipedia.org%252Fwiki%252FGeorge_Clooney%26psig%3DAOvVaw3LMpd8LKrd05OuPpA6ECEp%26ust%3D1570036582128752&psig=AOvVaw3LMpd8LKrd05OuPpA6ECEp&ust=1570036582128752">


            <ul class = "coffee-card__tags">
                <li class="coffee-card__brewing-method"> <h3> "Espresso"</h3> </li>

                <li class="coffee-card__caffeine"> <h3>"Caffeinated"</h3></li>
                <li class="coffee-card__country-origin"> <h3>"Columbia"</h3></li>
                <li class="coffee-card__bean"><h3>"Arabica"</h3></li>
            </ul>
            </article>
        </div>
        
    </body>
</html>