<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Cafe Latte</title>
    <link rel="stylesheet" href="../public-css/review-style.css">
</head>
    <body>
        <div class = "wrapper">
            <section class="coffee-card">
               
            <div class="coffee-card__element">
                  <figure class = "coffee-card__photo" >
                        <img src="src/public-css/img/George_Clooney_2016.jpg" alt="picture of cafe latte">     
                        <figcaption>
                            <! cafe latte.>
                        </figcaption>
                    </figure>

                  <h1 class = "coffee-card__style">Cafe Latte</h1>
            </div>

            <div class="coffee-card__element">
                <p class = "coffee-card__review">While it is popular, cafe latte is foul. Anyone who likes coffee would not want milk in it.</p>
            </div>

            <div class="coffee-card__element">
               
                <figure class = "coffee-card__author-photo" >
                        <img src="https://github.com/WeCanCodeIT/reviews-site-team-a/blob/development/src/public-css/George_Clooney_2016.jpg?raw=true"  alt="picture of author">    
                        <figcaption>
                            <! author>
                        </figcaption>
                    </figure>
                    <h2 class = "coffee-card__author"> G. Eric Plum </h2> 
            </div>

            <div class="coffee-card__element">
                <ul class = "coffee-card__tags">
                <li class="coffee-card__brewing-method"> <h3> Espresso</h3> </li>

                <li class="coffee-card__caffeine"> <h3>Caffeinated</h3></li>
                <li class="coffee-card__country-origin"> <h3>Columbia</h3></li>
                <li class="coffee-card__bean"><h3>Arabica</h3></li>
                </ul>
            </section>
            </div>
        </div>
        
    </body>
</html>