<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Cafe Latte</title>
</head>
    <body>
        <div class = "wrapper">

            <h1 class = "coffee-style">"Caffe Latte"</h1>

            <p class = "coffee-review">"While it is popular, cafe latte is foul. Anyone who likes coffee would not want milk in it."</p>

            <h2 class = "coffee-review__author"> 
                "G. Eric Plum"
            </h2>

            <ul class = "coffee-tags">
                <li></li>
                <li></li>
                <li></li>
            </ul>
        </div>
        
    </body>
</html>