<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Americano</title>
    <link rel="stylesheet" href="../public-css/review-style.css">
</head>
    <body>
        <div class = "wrapper__review">
            <section class="coffee-card">
               
            <div class="coffee-card__element">
                  <figure class = "coffee-card__photo" >
                        <img src= "../public-css/img/caffeine-coffee-camericanoup-6347.jpg?raw=true" alt="picture of cafe latte">     
                        <figcaption>
                            <! cafe latte.>
                        </figcaption>
                    </figure>

                  <h1 class = "coffee-card__style">Americano</h1>
            </div>

            <div class="coffee-card__element">
                <p class = "coffee-card__review">Elegance combined with simplicity. This beverage is meant to be sweetened heavily, if you are
                    European. However, as an American, I enjoy the bitterness this small drink provides. Most locations
                    I frequent know how I take my coffee (small Americano, quad, and top it off with water). As I travelled
                    some European cities, I had to learn how <i>they</i> take their coffee. Similar to mine, but with a
                    lot more sugar!
                </p>
            </div>

            <div class="coffee-card__element">
               
                <figure class = "coffee-card__author-photo" >
                    <img src= "../public-css/img/Jennifer_Lopez.jpg?raw=true"  alt="picture of author">    
                        <figcaption>
                            <! author>
                        </figcaption>
                    </figure>
                    <h2 class = "coffee-card__author"> Jennifer Lopez </h2> 
            </div>

            <div class="coffee-card__element">
                <ul class = "coffee-card__tags">
                <li class="coffee-card__bitter"> <h3><a href = "tag_bitter.html">Bitter</a></h3></li>
                </ul>
            </section>
            </div>
        </div>
        
    </body>
</html>
