<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Category Tea</title>
    <link rel="stylesheet" href="../public-css/style.css">
</head>
<body>
    <div class = "wrapper__category">
        <main>
            <header>Items with the "Tea" category</header>
            <div class = "coffee-card__element">
                <ul class = "coffee-card__list">
                    <li class="coffee-card__list-item"><a href = "home.html">Not Coffee</a></li>
                </ul>
            </div>
        </main>
    </div>
</body>
</html>