<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Category_Espresso</title>
    <link rel="stylesheet" href="../public-css/style.css">
</head>
<body>
    <div class = "wrapper__category">
        <main>
            <header>Items with the "espresso" category</header>
            <div class = "coffee-items">
                <ul class = "coffee-items__list">
                    <li class="coffee-card__list-item"><a href = "review_americano.html">Americano</a></li>
                    <li class="coffee-card__list-item"><a href = "review_americano.html">Cafe Latte</a></li>
                    <li class="coffee-card__list-item"><a href = "review_americano.html"></a>Solo (espresso, single shot)</li>
                </ul>
            </div>
        </main>
    </div>
</body>
</html>