<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tag_Flavored</title>
    <link rel="stylesheet" href="../public-css/style.css">
</head>
<body>
    <div class = "wrapper__tag">
        <main>
            <header>Items with the "flavored" tag</header>
            <div class = "coffee-card__element">
                <ul class = "coffee-card__list">
                    <li class = "coffee-card__list-item"><a href = "review_cafe_latte.html">Cafe Latte</a></li>
                    <li class = "coffee-card__list-item"><a href = "review_americano.html">Regular (Coffee)</a></li>
                    <li class = "coffee-card__list-item"><a href = "review_americano.html">Cold Brew</a></li>
                    <li class = "coffee-card__list-item"><a href = "review_americano.html">Decaffeinated (Coffee)</a></li>
                </ul>
            </div>
        </main>
    </div>
</body>
</html>
